@{
    ViewData["Title"] = "Bears";
}

<h3>@ViewData["Message"]</h3>

<br />

<h1>Billy</h1>

<img src="~/images/Bears/blackBear.jpg" alt="American Black Bear" width="500" class="img-responsive" />

<br />

<br />

<p>Billy is one of the finest attractions in our bear exhibit.</p>
<p>When we first received him, he was only a small cub and not very active.</p>
<p>After having our finest trainers work with him, did his personality shine.</p>
<p>Billy is now one of our biggest and active bears that we have.</p>
<p>We are proud to have Billy in our zoo.</p>
<i>Species: American Black Bear</i>


<br />

<br />

<h1>Rose</h1>

<img src="~/images/Bears/polarBear.jpg" alt="Polar Bear" width="500" class="img-responsive" />

<br />

<br />

<p>Rose's ability to put a smile on everyone’s face has made her a favorite among many of our visitors.</p>
<p>When we first received her, she was already several hundred pounds.</p>
<p>Even though she was very large upon receiving her, we were able to find a good place for her in our zoo.</p>
<p>Our zoo is happy to have her.</p>
<i>Species: Polar Bear</i>

<br />

<br />

<h1>Sam</h1>

<img src="~/images/Bears/sunBear.jpg" alt="Sun Bear" width="500" class="img-responsive" />

<br />

<br />

<p>Sam is the most interesting bear in our exhibit.</p>
<p>With a distinctive bright yellow area on his chest, he is often seen eating remarkable amounts of honey that the trainers give him.</p>
<p>Not only does he eat a lot of honey, he also eats a lot of bugs too.</p>
<p>We are happy to have sam in our zoo.</p>
<i>Species: Sun Bear</i>

<br />

<br />

<h1>William</h1>

<img src="~/images/Bears/brownBear.jpg" alt="Brown Bear" width="500" class="img-responsive" />

<br />

<br />

<p>William is one of our biggest bears at our zoo.</p>
<p>Just like Billy, he was a small cub when we received him.</p>
<p>With much work and progress made with our trainers, William has become a great addition to our zoo.</p>
<p>We are happy to have William in our zoo.</p>
<i>Species: Brown Bear</i>

<br />

<br />

@*Citations For Picture Used

    Black American Bear. images.app.goo.gl/xz9P6hoEBGtNuEyE7.

    Polar Bear. images.app.goo.gl/uzJhXTJwJkTiCK2Y8.

    Sun Bear. images.app.goo.gl/sEbrNd71gbs57X287.

    Brown Bear. images.app.goo.gl/FhccNeiS7ZM13YKM8.

*@

