
@{
    ViewData["Title"] = "EnclosuresPending";
}

<h3>@ViewData["Message"]</h3>

<h1>Owl Enclosure</h1>

<img src="~/images/EnclosuresPending/owlEnclosure.jpg" alt="Owl Enclosure" width="500" class="img-responsive" />

<br />

<br />

<p>We would like to have an owl enclosure in our zoo.</p>
<p>That way we can have pretty owls to show our visitors.</p>
<p>We would even add an owl page so that visitors know what to look for when they get to the zoo.</p>
<p>We are excited that our project is on its way to completion.</p>

<br />

<br />

<h1>Goat Enclosure</h1>

<img src="~/images/EnclosuresPending/goatEnclosure.jpg" alt="Goat Enclosure" width="500" class="img-responsive" />

<br />

<br />

<p>We are really excited and would like a goat enclosure in our zoo.</p>
<p>That way the visitor's children of our zoo can pet the goats.</p>
<p>We would even add a goat page so that visitors know what to look for when they get to the zoo.</p>
<p>We are excited that our project is almost done with its completion.</p>

<br />

<br />

<h1>Snake Enclosure</h1>

<img src="~/images/EnclosuresPending/snakeEnclosure.jpg" alt="Snake Enclosure" width="500" class="img-responsive" />

<br />

<br />

<p>We are full of excitement and would like a snake enclosure in our zoo.</p>
<p>That way we can showcase some pretty unique reptiles.</p>
<p>We would even add a snake page so that visitors know what to look for when they get to the zoo.</p>
<p>We are excited that our project is on its way to completion.</p>

<br />

<br />

<h1>Monkey Enclosure</h1>

<img src="~/images/EnclosuresPending/monkeyEnclosure.jpg" alt="Monkey Enclosure" width="500" class="img-responsive" />

<br />

<br />

<p>We are brimming with excitement and would like a monkey enclosure in our zoo.</p>
<p>That way we can show our visitors how neat monkeys really are.</p>
<p>We would even add a monkey page so that visitors know what to look for when they get to the zoo.</p>
<p>We are excited that our project is on its way to completion.</p>

<br />

<br />


@*Citations For Picture Used

    Owl Enclosure. images.app.goo.gl/cCK3ei6erTbdPNfN9

    Goat Enclosure. images.app.goo.gl/r7GpmVn3CcJjAhmF8

    Snake Enclosure. images.app.goo.gl/4gRBjXFUMdV4U3SK6

    Moneky Enclosure. images.app.goo.gl/54wCyTixyKQ59i1n8

*@

