
@{
    ViewData["Title"] = "Fish";
}

<h3>@ViewData["Message"]</h3>

<br />

<h1>Bluegill</h1>

<img src="~/images/Fish/bluegill.jpg" alt="Bluegill" width="500" class="img-responsive" />

<br />

<br />

<p>We have some of the most beautiful bluegills.</p>
<p>That, is because we always make sure that we buy the best ones for our visitors.</p>
<p>Because of doing so, we have won several prizes that showcase how much we care about our fish.</p>
<p>We are proud as well as honored to show our efforts to the visitors of our zoo.</p>

<br />

<br />

<h1>Catfish</h1>

<img src="~/images/Fish/catfish.jpg" alt="Catfish" width="500" class="img-responsive" />

<br />

<br />

<p>We have some of the best looking catfish.</p>
<p>That, is because we always make sure that they are just as well feed and taken care of as the rest of our fish.</p>
<p>Because of doing so, we are proud to say that every catfish that we own is alive and healthy.</p>
<p>We are so happy that we are able to show our efforts to the visitors of our zoo.</p>

<br />

<br />

<h1>Koi</h1>

<img src="~/images/Fish/koi.jpg" alt="Koi" width="500" class="img-responsive" />

<br />

<br />

<p>We have some of the prettiest koi.</p>
<p>That, is because we always make sure that they are just as well feed and taken care of as the rest of our fish.</p>
<p>Because of doing so, we are proud to say that every koi that we own is alive and healthy.</p>
<p>We are so happy that we are able to show our efforts to the visitors of our zoo.</p>

<br />

<br />

@*Citations For Picture Used

    Bluegill. images.app.goo.gl/JdTbvMZxvzekxHge6

    Catfish. images.app.goo.gl/zaa6kcLCdCF1LYwR6

    Koi. images.app.goo.gl/Hb59dqpsuBTLDCEe9

*@

