
@{
    ViewData["Title"] = "Foxes";
}

<h3>@ViewData["Message"]</h3>

<br />

<h1>Sadie</h1>

<img src="~/images/Foxes/articFox.jpg" alt="Artic Fox" width="500" class="img-responsive" />

<br />

<br />

<p>Sadie is one of our friendliest foxes that we have.</p>
<p>She always likes to come up to the fence and greet visitors.</p>
<p>She can also be seen interacting with some of our other foxes in the frontal area of their enclosure.</p>
<p>We are proud to have such a friendly and pretty fox in our zoo.</p>
<i>Species: Artic Fox</i>

<br />

<br />

<h1>Dane</h1>

<img src="~/images/Foxes/redFox.jpg" alt="Red Fox" width="500" class="img-responsive" />

<br />

<br />

<p>Dane was very young when we first received him.</p>
<p>Because of receiving him so young, we were able to allow our trainers to work with him more than the other foxes.</p>
<p>We made sure that he responded positively during meal times as well as interacted well with the other foxes.</p>
<p>By being able to work with him extensively, we are proud to say that we are happy to have him in our zoo.</p>
<i>Species: Red Fox</i>

<br />

<br />

<h1>Dan</h1>

<img src="~/images/Foxes/grayFox.jpg" alt="Gray Fox" width="500" class="img-responsive" />

<br />

<br />

<p>Dan is a very active fox.</p>
<p>Due to him being so active, you can easily see him jumping from one rock to the other in his enclosure.</p>
<p>You can also see him running the perimeter of his enclosure as well.</p>
<p>We are so glad to have Dan as part of our zoo.</p>
<i>Species: Gray Fox</i>

<br />

<br />

<h1>Auldyn</h1>

<img src="~/images/Foxes/silverFox.jpg" alt="Silver Fox" width="500" class="img-responsive" />

<br />

<br />

<p>Auldyn is a very shy fox.</p>
<p>Auldyn can be seen primarily either under a tree or a rock.</p>
<p>Our trainers are currently working with him to coax him out or his shyness.</p>
<p>Even though he is shy, we still do care for him just as much as the other foxes in our zoo.</p>
<i>Species: Silver Fox</i>

<br />

<br />

@*Citations For Picture Used

    Artic Fox. images.app.goo.gl/1sjWWoRj3TyJo59D9.

    Red Fox. images.app.goo.gl/w4iH3AEYYKSqLdXV7

    Gray Fox. images.app.goo.gl/Yiy937pSU2cj6nwXA.

    Silver Fox. images.app.goo.gl/Md7PeMoNAZehTCEeA.

*@

