
@{
    ViewData["Title"] = "Merchandise";
}

<h3>@ViewData["Message"]</h3>

<h1>Food Stand</h1>

<img src="~/images/Merchandise/foodStand.jpg" alt="Food Stand" width="500" class="img-responsive" />

<br />

<br />

<p>We have several identical food stands stationed throughout our zoo.</p>
<p>And, are happy to serve snacks and cold drinks.</p>
<p>Unlike most zoos, we serve Pepsi and Coco-Cola products together instead of just one.</p>
<p>Feel free to look for what your need.</p>

<br />

<br />

<h1>Zoo Store</h1>

<img src="~/images/Merchandise/zooStore.jpg" alt="Zoo Store" width="500" class="img-responsive" />

<br />

<br />

<p>Our zoo store is packed full of goodies such as small toys, t-shirts, and the like.</p>
<p>We are so happy that our visitors are able to take home something to remember their visit with.</p>
<p>There is nothing like being able to keep something from your childhood to then be able to tell your story in later years.</p>
<p>Feel free to look for what your need.</p>

<br />

<br />

@*Citations For Picture Used

    Food Stand. images.app.goo.gl/wbZZUXXTvnLGdceT6

    Zoo Store. images.app.goo.gl/cMhWRC2RfiGASVo39

*@

