
@{
    ViewData["Title"] = "Turtles";
}

<h3>@ViewData["Message"]</h3>

<h1>Jim</h1>

<img src="~/images/Turtles/leatherbackSeaTurtle.jpg" alt="Leatherback Sea Turtle" width="500" class="img-responsive" />

<br />

<br />

<p>Jim is one of our biggest turtles that we have.</p>
<p>With his large shell and big flippers, he is a huge sensation at the zoo.</p>
<p>His relaxed nature and his large size can make him easy to spot.</p>
<p>We are excited that we have Jim at our zoo.</p>
<i>Species: Leatherback Sea Turtle</i>

<br />

<br />

<h1>Robert</h1>

<img src="~/images/Turtles/paintedTurtle.jpg" alt="Painted Turtle" width="500" class="img-responsive" />

<br />

<br />

<p>Robert is one of our smallest turtles that we have.</p>
<p>With him being only as big as most people’s hand, he may be hard to see.</p>
<p>When viewing Robert, take notice how small he is.</p>
<p>We are thrilled to have Robert at our zoo.</p>
<i>Species: Painted Turtle</i>

<br />

<br />

<h1>Gram</h1>

<img src="~/images/Turtles/westernBoxTurtle.jpg" alt="Western Box Turlte" width="500" class="img-responsive" />

<br />

<br />

<p>Gram is one of our most active turtles.</p>
<p>He may be small, but he is often seen swimming in circles all day.</p>
<p>When viewing Gram, take note how active he is.</p>
<p>We are amazed that we have Robert at our zoo.</p>
<i>Species: Western Box Turtle</i>

<br />

<br />

<h1>Grace</h1>

<img src="~/images/Turtles/floridaSoftshellTurtle.jpg" alt="Florida Softshell Turtle" width="500" class="img-responsive" />

<br />

<br />

<p>Grace is one of our biggest turltes.</p>
<p>With her large size, she can be just as easily seen as Jim can.</p>
<p>With her large shell and big flippers, she is a huge sensation at the zoo.</p>
<p>We are excited that we have Grace at our zoo.</p>
<i>Species: Florida Softshell Turtle</i>

<br />

<br />
@*Citations For Picture Used

    Leatherback Sea Turtle. images.app.goo.gl/g9zLg1Bu2Dv9Cqo69

    Painted Turtle. images.app.goo.gl/NBSN4yB2C2k11sAC8

    Western Box Turlte. images.app.goo.gl/xxb1m6q4QnRPykxX8

    Florida Softshell Turtle. images.app.goo.gl/2FHbTtV4W5hS5Lrg8



*@

