
@{
    ViewData["Title"] = "Wolves";
}

<h3>@ViewData["Message"]</h3>

<br />

<h1>Tammy</h1>

<img src="~/images/Wolves/northwesternWolf.jpg" alt="Northwestern Wolf" width="500" class="img-responsive" />

<br />

<br />

<p>Tammy is one of our prettiest wolves that we have.</p>
<p>With her shinny coat of fur, she has is one of our most popular wolves amongst visitors.</p>
<p>Her ability to quickly join in with the rest of the wolves has made us very proud.</p>
<p>We are proud that we can provide the best captivity experience for her, and the rest of our wolves.</p>
<p>We are most gracious of having Tammy in our zoo.</p>
<i>Species: Norhtwestern Wolf</i>

<br />

<br />

<h1>Jill</h1>

<img src="~/images/Wolves/eurasianWolf.jpg" alt="Eurasian Wolf" width="500" class="img-responsive" />

<br />

<br />

<p>Jill is one of our friendliest wolves.</p>
<p>She loves to come close to the fence and great visitors.</p>
<p>When we first got her, she was a small pup.</p>
<p>With much effort, we raised her with the right amount of care and is now a strong wolf.</p>
<p>We are proud to have Jill in our zoo.</p>
<i>Species: Eurasian Wolf</i>

<br />

<br />

<h1>Abby</h1>

<img src="~/images/Wolves/articWolf.jpg" alt="Artic Wolf" width="500" class="img-responsive" />

<br />

<br />

<p>Abby is known for her distinctive white coat of fur.</p>
<p>She loves to run around with all of the other wolves.</p>
<p>With her ability to form quick and long lasting bonds with the other wolves, she fits right in with the rest.</p>
<p>We are stunned that we have such a good wolf in our zoo.</p>
<i>Species: Artic Wolf</i>

<br />

<br />

<h1>Oliver</h1>

<img src="~/images/Wolves/britishColumbiaWolf.jpg" alt="British Columbia Wolf" width="500" class="img-responsive" />

<br />

<br />

<p>Oliver is one of our prized wolves that we have.</p>
<p>We were able to have him transferred from another local zoo to ours.</p>
<p>The reason for him being put into our zoo is because the other zoo was going to cancel their wolf area.</p>
<p>So luckily, we got Oliver.</p>
<p>We are stunned that we have such a good wolf in our zoo.</p>
<i>Species: British Columbia Wolf</i>

<br />

<br />

@*Citations For Picture Used

    Northwestern Wolf. images.app.goo.gl/z4k9pYfjc8T2iip19.

    Eurasian Wolf. images.app.goo.gl/a58oePNYT1anPiA3A

    Artic Wolf. images.app.goo.gl/23EdQMiwQzTCTS7e6

    British Columbia Wolf. images.app.goo.gl/Csr1tuiU7vd6oJZD8
*@